@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid #85d8db;
  padding: 40px;
  border-radius: 10px;
}

.btn {
  position: absolute;
  top: 20%;
  right: 2%;
  display: inline-block;
  background:grey;
  color: #fff;
  border: none;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:hover {
  background-color: lightgray;
}

.post {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}

@keyframes modalFade {
  0%{
    opacity: 0;
    transform: translateY(-10px);
  }
}

.modal {
  position: relative;
  top: 20%;
  left: 25%;
  width: 50%;
  height: 50%; 
  padding: 40px;
  border-radius: 10px;
  background-color: white;
  animation: modalFade 0.4s ease-in forwards;
  min-height: 50%;
  overflow: auto;
  min-height: 60%;
}

.modalbtn {
  position: absolute;
  width:20px;
  height:20px;
  right:18px;
  top:18px;
  color:#85d8db;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-family: inherit;
  background-color: white;
}

.modalbtn:hover {
  color: lightgray;
}

.link {
  color: #85d8db;
  text-decoration: none;
  font-weight: 950;
}

.link:hover {
  color: lightgray;
  font-weight: 950;
}

.scroll-to-top {
  position: fixed;
  right: 4rem;
  bottom: 0.5rem;
  width: 1px;
  height: auto;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

footer {
  text-align: center;
}
